In [1]:
import pandas as pd
import numpy as np
import torch
from sklearn import datasets

In [2]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
train_df1 = pd.read_csv("./churn-bigml-20.csv")

In [4]:
train_df1.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [5]:
train_df2= pd.read_csv("./churn-bigml-80.csv")

In [6]:
train_df2.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [7]:
train_df = pd.read_csv("./churn-bigml-20.csv")
test_df = pd.read_csv("./churn-bigml-20.csv")

In [8]:
train_df = pd.read_csv("./churn-bigml-80.csv")
test_df = pd.read_csv("./churn-bigml-80.csv")

In [9]:
train_df.describe()
train_df.describe(include=['object'])

       State International plan Voice mail plan
count   2666               2666            2666
unique    51                  2               2
top       WV                 No              No
freq      88               2396            1933

In [10]:
iris = datasets.load_iris()

In [11]:
iris_X = pd.DataFrame(data= iris['data'], columns=iris['feature_names'])

In [12]:
iris_X['target'] = iris['target']

In [13]:
X, y = np.arange(10).reshape((5, 2)), range(5)

In [14]:
X

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [16]:
X_train

array([[4, 5],
       [0, 1],
       [6, 7]])

In [17]:
y_train

[2, 0, 3]

In [18]:
train_test_split(y, shuffle=False)

[[0, 1, 2], [3, 4]]

In [19]:
# 데이터 로드
iris = load_iris()
X = iris.data
y = iris.target

# 훈련 및 테스트 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# 모델 생성
clf = DecisionTreeClassifier()

# 모델 학습
clf.fit(X_train, y_train)

# 예측
y_pred = clf.predict(X_test)

# 모델 평가
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 1.0